[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
uvicorn = "*"
fastapi = "*"
SQLAlchemy = "*"
passlib = "*"
bcrypt = "*"
python-jose = "*"
python-multipart = "*"

[requires]
python_version = "3.8"
